* {
  box-sizing: border-box;
}
:root {
  --structuralElement: #5f5f5f;
  --redColorBlock: #d10303;
  --lightColorBlock: #a5a5a5;
  --pixboarder: solid 10px var(--lightColorBlock);

}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}
header {
  padding: 40px;
  text-align: left;
  background: var(--structuralElement);
  color: #fff;
  border-style:outset;
  border-bottom: solid 10px var(--redColorBlock);
/*border no show*/
}
header h1 {
  font-size: 180%;
}
nav {
  float: right;
  text-align: center;
  display: flex;
  background-color: var(--structuralElement);
}
nav a {
  color: var(--lightColorBlock);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  background-color: var(--lightColorBlock);
  color: #fff;
  text-decoration: underline;
}
.box1 {
  background-color: white;
width:200px;
height:;
border-bottom: solid 5px var(--redColorBlock);
border-right: solid 5px var(--redColorBlock);
vertical-align: text-bottom;
/* text should be flush bottom right */
color: var(--redColorBlock);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
main aside {
  flex: 3;
  padding: 20px;
  text-align: right;
  display: block;
}
main section {
  flex:3;
  background-color: white;
  padding: 20px;

}
.self {
  flex: 1;
  padding: 20px;


}
.about-me {
  flex: 3;
  color: var(--structuralElement);
  font-size: 100%;
  text-align: left;
}
main section img {
  border: var(--pixboarder);
  
}
.contactMe {
  float: right;
  text-align: center;
  display: flex;
}
.contactMe a {
  color: var(--lightColorBlock);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}