* {
  box-sizing: border-box;
}
:root {
  --structuralElement: #5f5f5f;
  --redColorBlock: #d10303;
  --lightColorBlock: #a5a5a5;
  --pixboarder: solid 10px var(--lightColorBlock);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}
header {
  padding: 40px;
  text-align: left;
  background: var(--structuralElement);
  color: #fff;
  border-style:outset;
  border-bottom: solid 10px var(--redColorBlock);
}
header h1 {
  font-size: 180%;
}
nav {
  float: right;
  text-align: center;
  display: flex;
  background-color: var(--structuralElement);
}
nav a {
  color: var(--lightColorBlock);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  background-color: var(--lightColorBlock);
  color: #fff;
  text-decoration: underline;
}
.imageText {
  text-align: justify;
  width: auto;
}
.imageText img {
  display: block;
  margin: 0;
}
/* #makeBig:hover{ */
  /* position:relative; */
  /* width:300px; */
  /* height:auto; */
  /* display:block; */
  /* z-index:1; */
/* } */
.box1 {
  background-color: white;
width:200px;
height: 330px;
border-bottom: solid 5px var(--redColorBlock);
border-right: solid 5px var(--redColorBlock);
color: var(--redColorBlock);
position: relative;
}
.tabs {
  margin: 0;
  position: absolute;
  top: 90%;
  right: 10%;
}
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
main aside {
  flex: 3;
  padding: 20px;
  text-align: right;
  display: block;
}
main section {
  flex:3;
  background-color: white;
  padding: 20px;
}

.self {
  flex: 1;
  padding: 20px;
}
.about-me {
  display: flex;
  flex: 3;
  color: var(--structuralElement);
  font-size: 100%;
  text-align: left;
  position: relative;
}
.about-me p{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}
main section img {
  border: var(--pixboarder);
  
}
.contactMe {
  float: right;
  text-align: center;
  display: flex;
}
.contactMe a {
  color: var(--lightColorBlock);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 50%;

}
footer {
display: flex;
justify-content: center;
padding: 2%;
background-color: var(--structuralElement);
color: #fff;
}
@media screen and (max-width 992px) {
  section {
    width: 50%;
  }
}

@media screen and (max-width 768px) {
  section {
    width: 100%;
  }
}

@media screen and (max-width 576) {
  section {
    width: 100%;
  }
}