.header {
    height: 200px;
    background-color: grey;
    border-bottom: 10px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#my-name {
    margin-left: 50px;
    color: white;
}

/* .navbar {
    display: flex;
    flex-direction: row;
} */

.nav-item {
    /* display: block; */
    margin: 20px;
}

.about-me {
    display: flex;
    flex-direction: row;   
}

.aside {
    width: 300px;
    border-right: 5px red solid;
    border-bottom: 5px red solid;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.aside h2 {
    margin: 20px;
}

.about-me-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-me-content p {
    color: red;
    margin: 20px;
}
    

#about-me-img {
    height: 300px;
    margin: 20px;
}